:root {

  /* Colors */
  --color-blue: #4D5AE5;
  --color-blue-light: #6c8cff;
  --color-pink: #ff4e4e;
  --color-pink-light: #ff7070;
  --color-grey: #808080;
  --color-area-background: #f6f6fe;
  --text-color-normal: #2e2f42;
  --text-color-light: #fff;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-grey);

  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}